@import "src/assets/styles/variables";

.add-rule {
  background: transparent;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 1em 2em;
  outline: none;
  font-weight: 600;

  &:hover {
    cursor: pointer;
    background: $btn-hover-color;
  }

  &:first-letter {
    color: $text-color;
    font-weight: 100;
  }
}
