$border-color: #dbdfe5;
$border-color-darker: #999999;
$border-color-warning: #ff0000;

$text-color: #b4b8bb;
$text-color-warning: #ff0000;

$btn-hover-color: #c1c5ca;
$block-warning-background: #f5f7f8;
